@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap);

* {
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
}

/* tete de page */

header.header {
    display: flex;
    align-items: center;
}

header.header img {
    width: 150px;
}

section.top-page {
    background-color: rgba(15, 14, 14, 0.945);
    background-size: cover;
    height: 80vh;
    padding: 25px;
}

/* page de bienvenue (landing page) */

.landing-page {
    position: relative;
}

.big-title {
    color: white;
    font-size:  60px;
    font-family: 'Abril FatFace', cursive;
    font-weight: 100;
    width: 60%;
}

.scroll-down {
    color: white;
    position: absolute;
}

/* menu de navigation */

nav.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 400px;
    margin-left: 30px;
}

nav.nav li a {
    color: white;
    text-decoration: none;
}

/* talents */

.talents {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

.talent-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.delivery-icon {
    font-size: 50px;
    color: black;
}

.talent-details {
    font-weight: 600;
    width: 125px;
    text-align: center;
}

/* best sells */

.section-title {
    font-size: 50px;
    font-family: 'Abril FatFace', cursive;
    font-weight: 100;
    position: relative;
}

.section-title::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 50px;
    height: 7px;
    bottom: 0;
}

.bests-scripts {
    margin: 50px;
}

.best-scripts {
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.script-box {
    position: relative;
    background-size: cover;
    background-position: center;
}

.no-grid {
    min-width: 300px;
    height: 500px;
    flex: 1;
}

.script1 {
    background-image: url(../css/filtre1.PNG);
}

.script2 {
    background-image: url(../images/nos_meilleures_ventes/2.jpg);
}

.script3 {
    background-image: url(../images/nos_meilleures_ventes/3.jpg);
}

.script4 {
    background-image: url(../images/nos_meilleures_ventes/4.jpg);
}

.script-details {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #FFFFFFDF;
    padding: 5px 20px;
}

.script-name {
    font-size: 22px;
    font-weight: 600;
    line-height: 3px;
}

.script-price {
    color: black;
    line-height: 15px;
    font-size: 14px;
    font-weight: 800;
}

/* nos scriptes */

.all-scripts {
    margin: 50px;
}

.script-grid {
    display: grid;
    min-height: 150vh;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 200px);
}

.script-grid1 {
    background-image: url(../css/filtre1.PNG);
    grid-column: 1/3;
    grid-row: 1/3;
}

.script-grid2 {
    background-image: url(../css/etoile.PNG);
    grid-column: 1/3;
    grid-row: 3/5;
}

.script-grid3 {
    background-image: url(../images/nos_scriptes/3.jpg);
    grid-column: 3/5;
}

.script-grid4 {
    background-image: url(../images/nos_scriptes/4.jpg);
    grid-column: 1;
    grid-row: 3/5;
}

.script-grid5 {
    background-image: url(../images/nos_scriptes/5.jpg);
    grid-column: 2/4;
    grid-row: 3/5;
}

.script-grid6 {
    background-image: url(../images/nos_scriptes/6.jpg);
    grid-column: 4;
    grid-row: 3/5;
}

/* pied de page */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    font-weight: 600;
}